.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17.5px 77.5px 17.5px 77.5px;
  background-color: #f53838;
  border-radius: 10px;
  border: #f53838;
  color: #fff;
  font-weight: 700;
}

.btn:hover {
  color: #fff;
  background-color: #ff556f;
  transition: 2s;
  transition: ease-in-out;
}
