.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 310px;
  border: solid 1px #dddddd;
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
}

.testimonial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-name {
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
  gap: 60px;
}

.testimonial-name-city > span {
  font-size: 18px;
  font-weight: 500;
}
.testimonial-name-city > p {
  color: #4f5665;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-card-text > p {
  padding: 20px 0 0 0;
  line-height: 28px;
}
