.global {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 155px;
  margin: 150px 0 0 0;
}

.global-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.global-text > h1 {
  text-align: center;
}
.global-text > p {
  text-align: center;
  line-height: 27px;
  color: #4F5665;
}

.global-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* margin: 150px 0 0 0; */
}
