.select-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 62.94px 13px 62.94px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #ff0026;
  border: 2px solid #ff0026;
  font-weight: 700;
}

.select-btn:hover {
  color: #fff;
  background-color: #ff0026;
  transition: 2s;
  transition: ease-in-out;
}
