.testimonials {
}

.testimonials-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.testimonials-table > h1 {
  text-align: center;
  line-height: 45px;
}

.testimonials-table > p {
  text-align: center;
  line-height: 28px;
  color: #4f5665;
}


.testimonial-cards { 
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 80px 0 0 0 ;
}