.testimonials {
  position: relative;
}

.testimonials-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.testimonials-table > h1 {
  text-align: center;
  line-height: 45px;
}

.testimonials-table > p {
  text-align: center;
  line-height: 28px;
  color: #4f5665;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 80px 0 0 0;
}

.pagination-wrapper {
  padding: 60px 0 181px 0;
}

.pagination-container > ul {
  display: flex;
}

.pagination-container {
  width: 10px;
  color: #f53838;
}

.arrow-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.prev-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50px;
  border: solid 2px #f53838;
}
.prev-btn:hover {
  background-color: #f53838;
}

.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50px;
  border: solid 2px #f53838;
}

.next-btn:hover {
  background-color: #f53838;
}

.arrow-icon {
  font-size: 20px;
  color: #f53838;
}

.arrow-btn:hover .arrow-icon {
  color: #fff;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  background-color: #ffffff;
  padding: 70px 58.5px 70px 58.5px;
  border-radius: 10px;
  box-shadow: 0 15px 40px -15px rgba(0, 0, 0, 0.08);
  margin: 180px 0 0 0;
  position: absolute;
  z-index: 2px;
  top: 70%;
}

.subscribe-table > p {
  padding: 20px 0 0 0;
}
