.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #4f5665;
}

.nav-items nav a {
  color: #4f5665;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-items nav a:hover {
  color: #f53855;
  font-weight: 700;
  border-bottom: 2px solid #f53855;
}

.nav-items nav a:active {
  color: #f53855;
  font-weight: 700;
  border-bottom: 2px solid #f53855;
}

.sing-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sing-in {
  font-weight: 600;
  border: none;
  background-color: #fff;
  color: #0b132a;

  cursor: pointer;
}
.sing-in:hover {
  transition: 0.3s;
  color: #f53855;
}

.sing-up {
  cursor: pointer;
  color: #f53855;
  padding: 13px 45px 13px 45px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50px;
  border-color: #f53855;
}

.sing-up:hover {
  color: #fff;
  background-color: #f53855;
  transition: 2s;
  transition: ease-in-out;
}
