section {
  padding: 88.49px 0 0 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-section {
  width: 555px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-section > p {
  padding: 20px 0 50px;
  color: #4f5665;
  line-height: 2;
}

.statistic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  margin: 103px 0 0 0;
  padding: 37.5px 0 37.5px 0;
  box-shadow: 0 15px 40px -15px rgba(0, 0, 0, 0.08);
}

.statistic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36.5px;
}

.statistic-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.statistic-text > span {
  font-size: 25px;
  font-weight: 700;
}

.statistic-text > p {
  color: #4f5665;
  margin: 0;
}
