.plan-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}


.plan_table > p {
  color: #4f5665;
  text-align: center;
}

.plan-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0 0;
  gap: 50px;
}
