.footer-section {
  background-color: #f8f8f8;

}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 120px 0 0 0;
}

.contact-container > p {
  padding: 30px 0 0 0;
  color: #afb5c0;
}

.logo-container-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0 0 30px 0;
}

.apps-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.img-facebook {
  font-size: 30px;
  color: #f53855;
}
.img-twitter {
  font-size: 30px;
  color: #f53855;
}
.img-instagram {
  font-size: 30px;
  color: #f53855;
}

.product-items > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
}
.product-items > ul > span {
  font-weight: 600;
}

.engage-items > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
}

.engage-items > ul > span {
  font-weight: 600;
}

.earn-money-items > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
}
.earn-money-items > ul > span {
  font-weight: 600;
}
